@import "../../styles/variables";

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.8rem;
    color: white;
    position: relative; 
    top: 5rem;
    padding-bottom: 2rem;
  
    span {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 0.4rem;
    }
    
    a {
      text-decoration: none;
      color: $light-cyan;
      transition: all 0.1s ease;
  
      &:hover, &:active {
        color: $neon-green;
      }
    }
  }
  