@import './variables';

.container {
    width: 90vw; 
    max-width: 500px;
    min-height: 270px;
    padding: 3rem 2rem; 
    background-color: $dark-grayish-blue;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    position: relative;    

    @media only screen and (min-width: 768px) {
        .diviser.desktop {
            display: block;
        }

        .diviser.mobile {
            display: none;
        }
    }
}